@import "../global.scss";
@mixin navbar($bg, $ft, $vlink, $nav) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  a:visited {
    color: $vlink;
  }
  a {
    color: $vlink;
    text-decoration: none;
  }
  font-size: 19px;
  font-weight: 600;
  background: $nav;
  color: $vlink;
  .links {
    display: flex;
    justify-content: space-around;
    width: 45%;
    @include mobile {
      display: none;
    }
  }
  .phone-links {
    display: flex;
    flex-direction: column;
  }
  .phoneMenu {
    display: none;
  }
  padding: 1rem 0rem;
  @include mobile {
    .phoneMenu {
      display: block;
    }
  }
}
