@import "../global.scss";
@mixin pricing($bg, $ft) {
  .pricing {
    button {
      border: 0;
    }
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include mobile {
      flex-direction: column;
      font-weight: normal;
      width: 100vw;
    }
    .pricingCard {
      background: $ft;
      color: $bg;
      * {
        color: $bg;
      }
      padding: 3rem;
      margin-bottom: 40px;
      border-radius: 10px;
      width: 35%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-bottom: 20px;
      @include mobile {
        width: 80vw;
        margin: 10px;
      }
      h3 {
        text-align: center;
        font-size: 30px;
      }
      .features {
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        .feature {
          font-size: 20px;
          line-height: 30px;
        }
        align-items: flex-start;
      }
      .buy {
        padding: 1rem;
        width: 50%;
        margin: auto;
        font-size: 20px;
        background: $bg;
        margin-top: 40px;
        color: $ft;
        //dont hardcord dimensions for form elements
      }
    }
  }
}
