@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@mixin all($bg, $ft) {
  font-family: "Roboto", sans-serif;
  height: 100vw;
  width: 100%;
  background-color: $bg;
  color: $ft;
  margin: 0;
}
.light {
  @include all(white, black);
}
body {
  margin: 0;
}
html {
  margin: 0;
}
