@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "_variables";
@import "components/navbar";
@mixin all($bg, $ft, $vlink, $nav) {
  font-family: "Roboto", sans-serif;
  height: 100vw;
  width: 100%;
  background-color: $bg;
  color: $ft;
  margin: 0;
  .navbar {
    @include navbar($bg, $ft, $vlink, $nav);
  }
  .navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .description {
    display: flex;
    padding: 2.5rem;
    color: $ft;
    background: $bg;
    justify-content: space-around;
    width: 95vw;
    .description-text {
      text-align: center;
    }
    h1 {
      font-size: 90px;
    }
    p {
      font-size: 40px;
    }
    img {
      width: 600px;
    }
  }
  [dir="reverse"] {
    flex-direction: row-reverse;
  }
  .hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    .hero-content {
      background: rgba(0, 0, 0, 0.55);
      padding: 4rem;
      font-size: 38px;
      h1 {
        font-size: 92px;
      }
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      width: 60vw;
      .hero-radio {
        display: flex;
        flex-direction: column;
        input {
          width: 5rem;
        }
      }
    }
  }
  .themechanger {
    display: flex;
    justify-content: center;
  }
  .nomatch {
    text-align: center;
  }
}
.light {
  @include all(white, black, purple, grey);
}
.dark {
  @include all(black, white, whitesmoke, navy);
}
body {
  margin: 0;
  margin-top: 0;
}
