@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "_variables";
@import "components/navbar";
@import "components/aboutcard";
@import "components/pricing";
@import "./global.scss";
@mixin all($bg, $ft, $vlink, $nav) {
  font-family: "Roboto", sans-serif;
  height: 100vw;
  width: 100%;
  background-color: $bg;
  color: $ft;
  margin: 0;
  .navbar {
    @include navbar($bg, $ft, $vlink, $nav);
  }
  .navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .description {
    display: flex;
    padding: 2.5rem;
    color: $ft;
    background: $bg;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
      padding: 10vw;
      margin: auto;
      width: 100vw;
    }
    .description-text {
      text-align: center;
      padding: 1rem;
      width: 50vw;
      @include mobile {
        width: 100%;
      }
    }
    h1 {
      font-size: 90px;
      @include mobile {
        width: 100%;
      }
    }
    p {
      font-size: 30px;
      @include mobile {
        width: 100%;
      }
    }
    img {
      width: 600px;
      padding-left: 20px;
      @include mobile {
        width: 100%;
      }
    }
  }
  [dir="reverse"] {
    flex-direction: row-reverse;
    @include mobile {
      flex-direction: column;
    }
  }
  .hero {
    height: 93.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    .hero-content {
      background: rgba(0, 0, 0, 0.55);
      padding: 4rem;
      font-size: 38px;
      h1 {
        font-size: 92px;
      }
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      width: 60vw;
      .hero-radio {
        display: flex;
        flex-direction: column;
        input {
          width: 5rem;
        }
      }
    }
    background-repeat: no-repeat;
    @include mobile {
      .hero-content {
        flex-direction: column;
      }
      background-repeat: repeat-y;
    }
    width: 100vw;
  }
  .nomatch {
    text-align: center;
  }
  .cards {
    display: flex;
    background: $bg;
    justify-content: space-around;
    padding-top: 7rem;
  }
  .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    width: 25%;
    img {
      height: 10rem;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
  }
  .customers {
    background: $bg;
    padding: 5rem;
    text-align: center;
  }
  .features {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $ft;
    padding-top: 4rem;
    .feature-text {
      background-color: bg;
      border: 2px solid $ft;
      width: 60vw;
      color: $ft;
      padding: 2rem;
      img {
        width: 20%;
        border-radius: 50%;
        margin-top: -5rem;
      }
    }
    .left-arrow,
    .right-arrow {
      font-size: 35px;
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer;
      background: $bg;
      color: $ft;
      padding: 1rem 0.5rem;
      border-radius: 50%;

      border: 1px solid $ft;
    }

    .left-arrow:hover,
    .right-arrow:hover {
      background: $ft;
      color: $bg;
    }
  }
  @include aboutcard($ft, $vlink);
  @include pricing($bg, $ft);
}
.light {
  @include all(#f5fbef, #748b75, #503d42, #92ad94);
}
.dark {
  @include all(#748b75, #f5fbef, #92ad94, black);
}
body {
  margin: 0;
}
